<form id="login" action="/login" method="post">
  <div class="input-group">
    <input class="form-control" type="text" id="username" name="username" value="" placeholder="Email" />
    <input type="password" name="password" class="form-control" placeholder="Mot de passe" />
    <button type="submit" class="btn btn-info">Connexion</button>
  </div>
</form>

<form id="register" action="/inscription" method="post">
  <div class="input-group">
    <input class="form-control" type="text" id="email" name="email" value="" placeholder="Email" />
    <input class="form-control" type="password" id="password" name="password" placeholder="Mot de passe" />
    <button type="submit" class="btn btn-danger">Inscription</button>
  </div>
</form>

<form id="submit-initiative" action="/initiatives/nouvelle" method="post">
  <div class="input-group">
    <input class="form-control" type="text" name="pname" placeholder="Nom de l'initiative" />
    <input class="form-control" type="text" name="purl" placeholder="URL du site web" />
    <input class="form-control" type="text" name="logourl" placeholder="URL du logo" />
    <input class="form-control" type="text" name="contact" placeholder="Email contact" />
    <input class="form-control" type="text" name="twitter" placeholder="Compte twitter" />
    <input class="form-control" type="text" name="plocation" placeholder="Lieu" />
    <input class="form-control" type="text" name="pdesc" placeholder="Description" />
    <input class="form-control" type="hidden" id="lat" name="lat" placeholder="Latitude" />
    <input class="form-control" type="hidden" id="lon" name="lon" placeholder="Longitude" />
    <br/>
    <button type="submit" class="btn btn-info">Ajouter</button>
    <br/>
    <p>Situez votre initiative en cliquant sur cette carte :</p>
  </div>
</form>

<form id="submit-event" action="/evenements/nouveau" method="post">
  <div class="input-group">
    <input class="form-control" type="text" name="eorga" placeholder="Organisateur" />
    <input class="form-control" type="text" name="ename" placeholder="Nom de l'événement" />
    <input class="form-control" type="text" name="eurl" placeholder="URL de l'événement" />
    <input class="form-control" type="text" name="edate" placeholder="Date de l'événement" />
    <input class="form-control" type="text" name="elocation" placeholder="Lieu" />
    <input class="form-control" type="text" name="econtact" placeholder="Contact" />
    <input class="form-control" type="text" name="edesc" placeholder="Description sommaire" />
    <input class="form-control" type="hidden" id="lat" name="lat" placeholder="Latitude" />
    <input class="form-control" type="hidden" id="lon" name="lon" placeholder="Longitude" />
    <br/>
    <button type="submit" class="btn btn-info">Ajouter</button>
    <br/>
    <p>Situez votre événement en cliquant sur cette carte :</p>
  </div>
</form>
