<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>jecode.org: apprenons l'informatique... à l'école et ailleurs !</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/mapbox.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]><link href="/css/mapbox.ie.css" rel="stylesheet" type="text/css"><![endif]-->
    <link href="/css/MarkerCluster.css" rel="stylesheet"
	  type="text/css" />
    <link href="/css/MarkerCluster.Default.css" rel="stylesheet" type="text/css" />
    <script src="/js/ArrayLikeIsArray.js" type="text/javascript"></script>
    <script src="/js/mapbox.js" type="text/javascript"></script>
    <!--[if lt IE 8]><link href="/css/MarkerCluster.Default.ie.css" rel="stylesheet" type="text/css"><![endif]-->
    <script src="/js/leaflet.markercluster.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/iframe.css" type="text/css" />
  </head>

  <body>

    <div id="map"></div>
    <div id="mapjs"></div>

  </body>
</html>
