@import url(http://fonts.googleapis.com/css?family=Brawler);

body {
    width:67%;
    margin:1em auto 3em auto;
    font-family: Brawler;
    font-size: 15pt;
    font-style: normal;
    font-weight: 400;
    color: #2E2E2E;
}

#map {
    position:relative;
    height: 500px;
    min-width:100%;
    margin: 1em;
}

img.logo {
    position:fixed;
    margin:.2em;
    left:0px;
    top:0px;
    width: 15%;
}

#bottom_left {
    position: fixed;
    bottom: 1em;
    left: 1em;
}

#bottom_right {
    position: fixed;
    font-size: 70%;
    bottom: 1em;
    right: 1em;
}

#bottom_right input {
    padding:3px;
    margin: 2px;
}

#log {
    position:fixed;
    margin:1em;
    top: 0px;
    right: 0px;
    font-size: 11pt;
    text-align: right;
}

#log li {
    list-style-type:none;
}

#log a {
    text-decoration: none;
}

#login_form, #register_form, #rappel_form {
    padding-top:1em;
    margin:0 auto;
    width:60%;
}

#input-group {width:500px;}

#submit-initiative {
    padding-top:1em;
}

button {
    margin:1em 0 1em 0;
}

#container2 {
    padding: .5em;
}

label {
    font-size: 80%;
}

#container2 img {
    max-width: 170px;
    border-radius: 50%;
    float: right;
    margin: 2em;
}

#container2 img.picto {
    max-width: 170px;
    float: right;
    border-radius: 0%;
    margin: 2em;
}

.jumbotron {
    margin:1em;
    border-radius:10px;
}

h2 {
    margin-bottom: .7em;
}
