@import url(http://fonts.googleapis.com/css?family=Brawler);

body {
    width:70%;
    margin:1em auto 3em auto;
    font-family: Brawler;
    font-size: 18pt;
    font-style: normal;
    font-weight: 400;
    color: #2E2E2E;
}

#map { 
    position:absolute; 
    top:80px; 
    height: 555px;
    width:70%; 
}

#twitter {
    position:fixed;
    margin:1em;
    left:0px;
    top:0px;
}

.container2 {
    font-size: 14pt;
}

form {
    text-align:center;
    padding-top:1em;
    margin:auto;
    width:50%;
}

button {
    margin:1em;
}

.container2 img {
    display: block;
    max-width: 170px;
    border-radius: 50%;
    float: right;
    margin: 2em;
}

.jumbotron {
    margin:1em;
    border-radius:10px;
}

